<!--<div xmlns:th="http://wwww.thymeleaf.org"th:replace="~{/admin/main :: dynamic(~{::main})}">-->
<main role="main" class="container-fluid">
    <form>
        <div style="margin-left: 320px; margin-bottom: 40px">
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label class="small">Tên Sản Phẩm</label>
                <input type="text" class="form-control form-control-sm" id="">
            </div>
            <div class="form-group col-md-2">
                <label class="small">Chất liệu</label>
                <select class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label class="small">Màu sắc</label>
                <select class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="form-group col-md-2">
                <label class="small">Kích cỡ</label>
                <select class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="col-md-1">
                <button style="margin-top: 23px" type="button" class="btn btn-primary">Search</button>

            </div>
        </div>
    </form>
    <table class="table table-sm table-striped table-hover mt-3">
        <thead class="thead-med">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên</th>
            <th scope="col">Giá</th>
            <th scope="col">Kích cỡ</th>
            <th scope="col">Màu sắc</th>
            <th scope="col">Chất liệu</th>
            <th scope="col">Kiểu dáng</th>
            <th scope="col">Chức năng</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>01</td>
            <td>San Pham 1</td>
            <td>234232</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-warning glyphicon glyphicon-edit"
                            style="width: 30px; height:30px ;"></button>
                    <button class="btn btn-danger glyphicon glyphicon-trash"
                            style="width: 30px; height:30px ;"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td>San Pham 1</td>
            <td>234232</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-warning glyphicon glyphicon-edit"
                            style="width: 30px; height:30px ;"></button>
                    <button class="btn btn-danger glyphicon glyphicon-trash"
                            style="width: 30px; height:30px ;"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td>San Pham 1</td>
            <td>234232</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-warning glyphicon glyphicon-edit"
                            style="width: 30px; height:30px ;"></button>
                    <button class="btn btn-danger glyphicon glyphicon-trash"
                            style="width: 30px; height:30px ;"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td>San Pham 1</td>
            <td>234232</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-warning glyphicon glyphicon-edit"
                            style="width: 30px; height:30px ;"></button>
                    <button class="btn btn-danger glyphicon glyphicon-trash"
                            style="width: 30px; height:30px ;"></button>
                </div>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td>San Pham 1</td>
            <td>234232</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>Null</td>
            <td>
                <div class="btn-group btn-group-xs">
                    <button class="btn btn-warning glyphicon glyphicon-edit"
                            style="width: 30px; height:30px ;"></button>
                    <button class="btn btn-danger glyphicon glyphicon-trash"
                            style="width: 30px; height:30px ;"></button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" style="text-align: center;">
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>
        </div>
    </nav>

</main>
<!--</div>-->