<div xmlns:th="http://wwww.thymeleaf.org" th:replace="~{/admin/main :: dynamic(~{::main})}">
    <div class="row">
        <aside class="col-sm-12" style="font-variant: small-caps;">
            <main class="row">
                <ul class=" nav nav-tabs" style="font-variant: small-caps;">
                    <li><a data-toggle="tab" data-target="#edit" >Chi Tiết SP</a></li>
                    <li class="active"><a  data-toggle="tab" data-target="#list" >Danh Sách Chi Tiết SP</a></li>
                </ul>
                <div class="tab-content">
                    <div id="edit" class="tab-pane fade">
                        <div th:include="'/admin/ProductDetail/Product_detail.html'"></div>
                    </div>
                    <div id="list" class="tab-pane fade in active">
                        <div th:include="'/admin/ProductDetail/List_ProductDetail.html'"></div>
                    </div>
                </div>
            </main>
        </aside>
    </div>
</div>