<div xmlns:th="http://wwww.thymeleaf.org"th:replace="~{/user/index :: dynamic(~{::main})}">
  <main class="row ">
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Giỏ hàng </h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="">Trang chủ</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Giỏ hàng</p>
        </div>
      </div>
    </div>
    <!-- Page Header End -->
    <!-- Cart Start -->
    <div class="container-fluid pt-5">
      <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
          <table class="table table-bordered text-center mb-0">
            <thead class="bg-secondary text-dark">
            <tr>
              <th>Sản phẩm</th>
              <th>Màu sắc</th>
              <th>Kích cỡ</th>
              <th>Chất liệu</th>
              <th>Kiểu Dáng</th>
              <th>Số lượng</th>
              <th>Giá tiền</th>
              <th>Tổng</th>
              <th>Xóa</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            <tr ng-repeat="item in cartItems">
              <td class="align-middle"><img src="{{item.product.images[0].urlimage}}" alt="" style="width: 50px;">{{item.product.category.name}}</td>
              <td class="align-middle">{{item.product.color.name}}</td>
              <td class="align-middle">{{item.product.size.name}}</td>
              <td class="align-middle">{{item.product.material.name}}</td>
              <td class="align-middle">{{item.product.design.name}}</td>
              <td class="align-middle">
                <div class="input-group quantity mx-auto" style="width: 100px;">
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-primary btn-minus" ng-click="decreaseQuantity(item)">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                  <input type="text" class="form-control form-control-sm bg-secondary text-center"  ng-model="item.quantity">
                  <div class="input-group-btn">
                    <button class="btn btn-sm btn-primary btn-plus" ng-click="increaseQuantity(item)">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </td>
              <td class="align-middle"> {{item.product.price}}</td>
              <td class="align-middle">Tổng: {{calculateTotal(item)}}</td>
              <td class="align-middle"><button class="btn btn-sm btn-primary"ng-click="removeItem($index)"><i class="fa fa-times"></i></button></td>
            </tr>
            </tbody>
          </table>
          <div>
            <a href="http://localhost:8080/user/index.html#!/"><i class="fa fa-arrow-left" aria-hidden="true"><strong> Shopping now</strong></i></a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card border-secondary mb-5">
            <div class="card-header bg-secondary border-0">
              <h4 class="font-weight-semi-bold m-0">Tổng tiền</h4>
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between mb-3 pt-1">
                <h6 class="font-weight-medium">Tiền sản phẩm</h6>
                <h6 class="font-weight-medium">{{calculateSubtotal()}} VND</h6>
              </div>
              <div class="d-flex justify-content-between">
                <h6 class="font-weight-medium">Tiền ship</h6>
                <h6 class="font-weight-medium">$10</h6>
              </div>
            </div>
            <div class="card-footer border-secondary bg-transparent">
              <div class="d-flex justify-content-between mt-2">
                <h5 class="font-weight-bold">Total</h5>
                <h5 class="font-weight-bold">{{calculateTotalAmount()}} VND</h5>
              </div>
              <a class="btn btn-outline-primary" href="#!address" >Chọn địa chỉ</a>
              <button class="btn btn-block btn-primary my-3 py-3">Đặt Hàng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Cart End -->
  </main>
</div>