<div xmlns:th="http://wwww.thymeleaf.org">
    <footer class="footer">
        <div class="container seller">
            <div class="row">
                <div class="col-md-4">
                    <p class="gist p-3">Thông Tin</p>
                    <p class="logo-footer"><span class="logo1">P</span><span class="orange">lace</span><span
                            class="logo1">U</span><span class="orange">p</span></p>
                    <p class="information">Trang chủ</p>
                    <p class="information">Giới thiệu</p>
                    <p class="information">Liên hệ</p>
                </div>

                <div class="col-md-4">
                    <p class="gist p-3">Hướng dẫn</p>
                    <p class="information">Hướng dẫn mua hàng</p>
                    <p class="information">Giao nhận và thanh toán</p>
                    <p class="information">Đổi trả và bảo hành</p>
                    <p class="information">Đăng kí thành viên</p>
                    <p class="information">Tra cứu đơn hàng</p>
                </div>

                <div class="col-md-4">
                    <p class="gist p-3">Chính sách</p>
                    <p class="information">Hệ thống tích điểm</p>
                    <p class="information">Chính sách đổi hàng</p>
                    <p class="information">Chính sách bảo hành</p>
                    <p class="information">Chính sách thanh toán</p>
                    <p class="information">Hình thức vận chuyển</p>
                    <p class="information">Chính sách bảo mật</p>
                    <p class="information">Chính sách bảo vệ thông tin cá nhân</p>
                </div>
            </div>
        </div>
    </footer>
</div>