<div xmlns:th="http://wwww.thymeleaf.org">
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid header">
        <a class="navbar-brand" href="#"><span class="logo1">P</span><span class="orange">lace</span><span class="logo1">U</span><span class="orange">p</span></a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text1" aria-current="page" href="#">Sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text1" aria-current="page" href="#">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text1" aria-current="page" href="#">Liên hệ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text1" aria-current="page" href="#">Quản lý</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text1" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tài khoản
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Đăng nhập</a></li>
                        <li><a class="dropdown-item" href="#">Đăng ký</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                    </svg>
                </a>
            </form>
        </div>
    </div>
</nav>
</div>