<div xmlns:th="http://wwww.thymeleaf.org"th:replace="~{/user/index :: dynamic(~{::main})}">
    <main class="row">
    <h3 class="selling p-3">Sản phẩm bán chạy</h3>
    <div class="container seller">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card " style="width: 18rem;">
                        <img src="images/shoe1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giày Oxford đế cao nam GCLAS997-8-D</p>
                            <p class="money">1,900,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="images/shoe2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giày da Oxford nam GNLA135-5-N</p>
                            <p class="money">1,900,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="images/shoe3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giày lười da nam GNLAJD6611-1028-D</p>
                            <p class="money">2,100,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="images/shoe4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giày Derby tăng chiều cao nam GCLAVA220-A32-V</p>
                            <p class="money">1,990,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <button class="btn btn-dark container see-all">Xem tất cả</button>

        </div>
    </div>

    <h3 class="selling p-3">OXFOLD</h3>
    <div class="container seller">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card " style="width: 18rem;">
                        <img src="images/oxford1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giày Oxford đế cao nam GCLAS997-8-D</p>
                            <p class="money">1,900,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="images/oxford2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giày da Oxford nam GNLA135-5-N</p>
                            <p class="money">1,900,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="images/oxford3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giày lười da nam GNLAJD6611-1028-D</p>
                            <p class="money">2,100,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="images/oxford4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">Giày Derby tăng chiều cao nam GCLAVA220-A32-V</p>
                            <p class="money">1,990,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <button class="btn btn-dark container see-all">Xem tất cả</button>

        </div>
    </div>

    <h3 class="selling p-3">LOAFER</h3>
    <div class="container seller">
        <div class="row">
            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card " style="width: 18rem;">
                        <img src="images/loafer1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">CLASSIC LOAFERS - LF02</p>
                            <p class="money">1,550,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="images/loafer2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">NEWGEN LOAFER - LF01</p>
                            <p class="money">1,850,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="images/loafer3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">PENNY LOAFER - LF06</p>
                            <p class="money">1,650,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3">
                <a href="#" class="card-img">
                    <div class="card col-3" style="width: 18rem;">
                        <img src="images/loafer4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">OMW LOAFER - LF07</p>
                            <p class="money">1,650,000 đ</p>
                        </div>
                    </div>
                </a>
            </div>
            <button class="btn btn-dark container see-all">Xem tất cả</button>

        </div>
    </div>
    </main>
</div>