<div xmlns:th="http://wwww.thymeleaf.org"th:replace="~{/user/index :: dynamic(~{::main})}">
  <main class="row">
    <div class="container-fluid bg-secondary mb-5">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Đơn hàng chi tiết</h1>
        <div class="d-inline-flex">
          <p class="m-0"><a href="#!/">Trang chủ</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0"><a href="#!purchase">Đơn hàng</a></p>
          <p class="m-0 px-2">-</p>
          <p class="m-0">Đơn hàng chi tiết</p>
        </div>
      </div>
    </div>
    <h2 class="text-center" style="font-weight:500;">Đơn hàng chi tiết</h2>
    <div class="container-fluid pt-5" style="width:1400px;">
      <table class="table table-bordered">
        <thead>
        <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" style="font-size:18px;">
          <th class="px-4 py-3" scope="col">Hình ảnh</th>
          <th class="px-4 py-3" scope="col">Sản phẩm</th>
          <th class="px-4 py-3" scope="col">Màu sắc</th>
          <th class="px-4 py-3" scope="col">Chất liệu</th>
          <th class="px-4 py-3" scope="col">Kiểu dáng</th>
          <th class="px-4 py-3" scope="col">Size</th>
          <th class="px-4 py-3" scope="col">Số lượng</th>
          <th class="px-4 py-3" scope="col">Giá (VNĐ)</th>
          <th class="px-4 py-3" scope="col">Tổng (VNĐ)</th>
          <th class="px-4 py-3" scope="col">Trạng thái</th>
          <th class="px-4 py-3" scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
        <tr
                class="text-gray-700 dark:text-gray-400" style="font-size:16px;">
          <td class="px-4 py-3 ">
            <img class="img-responsive" width="80px" height="80px"
                 src="../images/oxford1.png">
          </td>
          <td class="px-4 py-3 ">Sản phẩm 1</td>
          <td class="px-4 py-3 ">Đỏ</td>
          <td class="px-4 py-3 ">Da nhân tạo</td>
          <td class="px-4 py-3 ">Oxford</td>
          <td class="px-4 py-3 ">35</td>
          <td class="px-4 py-3 ">1</td>
          <td class="px-4 py-3 ">250,000</td>
          <td class="px-4 py-3 ">250,000</td>
          <td class="px-4 py-3 ">Có thể đổi trả</td>
          <td class="px-4 py-3 ">
            <a style="color:black;" data-bs-target="#exampleModalPurchaseDetail" data-bs-toggle="modal">Đổi hàng</a>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="modal fade" id="exampleModalPurchaseDetail" tabindex="-1" data-bs-backdrop="static"
           aria-labelledby="exampleModalLabelPurchaseDetail" aria-hidden="true">
        <div class="modal-dialog modal-md">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabelPayment"></h5>
              <p style="color:black">Đổi hàng</p>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
            </div>
            <div class="modal-body min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                      aria-label="Close"></button>
              <div class="container">
                <table class="table text-center mb-0">
                  <thead class="bg-secondary text-dark">
                  <tr>
                    <th>Sản phẩm</th>
                    <th>Số lượng</th>
                  </tr>
                  </thead>
                  <tbody class="align-middle">
                  <tr>
                    <td class="align-middle">
                          san pham 1
                    </td>
                    <td class="align-middle">
                      <div class="input-group quantity mx-auto" style="width: 100px;">
                        <div class="input-group-btn">
                          <button class="btn btn-sm btn-primary btn-minus"
                                  ng-click="decreaseQuantity(item)">
                            <i class="fa fa-minus"></i>
                          </button>
                        </div>
                        <input type="text" class="form-control form-control-sm bg-secondary text-center"
                               value="1">
                        <div class="input-group-btn">
                          <button class="btn btn-sm btn-primary btn-plus"
                                  ng-click="increaseQuantity(item)">
                            <i class="fa fa-plus"></i>
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <div style="margin-top:20px;">
                  <h6 class="" style="color:black;font-weight:600;">Ảnh</h6>
                  <label class="block text-sm ">
                    <input id="image" type="file" onchange="angular.element(this).scope().uploadFile(this.files)" name="files"
                           class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                           multiple/>
                  </label>
                </div>
                <div style="margin-top:20px;">
                <h6 class="" style="color:black;font-weight:600;">Email</h6>
                <label class="block text-sm">
                  <input  placeholder="user@gmail.com"
                          style="width:420px;height:35px;border-radius:5px;"
                  />
                </label>
              </div>
                <div style="margin-top:20px;">
                  <h6 class="" style="color:black;font-weight:600;">Lý do đổi</h6>
                  <label class="block text-sm">
                    <textarea style="width:420px;height:50px;border-radius:5px;"></textarea>
                  </label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="">
                  <button
                          class="btn btn-success" style="border-radius:8px;">
                    Xác nhận
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>