<div xmlns:th="http://wwww.thymeleaf.org" th:replace="~{/admin/main :: dynamic(~{::main})}">
    <main class="h-full pb-16 overflow-y-auto">
        <div class="container px-6 mx-auto grid">
            <h2 class="text-center my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                Tạo tài khoản
            </h2>
            <form name="myForm" class="cen" novalidate>
            <div class=" p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
                <div class="grid gap-6 mb- md:grid-cols-2">
                    <div class="grid gap-6 mb-8 md:grid-cols-2" style=" grid-template-columns: 500px 50px;">
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Tên tài khoản</span>
                            <input ng-model="formAccount.username" required maxlength="250" pattern="^[a-zA-Z0-9_-]{3,100}$" name="username"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    placeholder="Nhập tên tài khoản"
                            />
                            <span ng-show="myForm.$submitted || myForm.username.$dirty">
                                        <span class="error" ng-show="myForm.username.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Tên tài khoản không được trống</span>
                                        <span class="error" ng-show="myForm.username.$error.pattern"> <i
                                                class="fa fa-exclamation-circle"></i>Tên tài khoản gồm 3-100 ký tự theo định dạng</span>
                            </span>
                        </label>
                    </div>

                    <div class="grid gap-6 mb-8 md:grid-cols-2" style=" grid-template-columns: 500px 50px;">
                        <label class="block text-sm ">
                            <span class="text-gray-700 dark:text-gray-400">Số điện thoại</span>
                            <input ng-model="formAccount.phone" name="phone"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    placeholder="Nhập Số điện thoại" required maxlength="10" pattern="(84|0[3|5|7|8|9])+([0-9]{8})\b" ng-minlength="0" ng-maxlength="10"
                            />
                            <span ng-show="myForm.$submitted || myForm.phone.$dirty">
                                        <span class="error" ng-show="myForm.phone.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Số điện thoại không được
                                            trống</span>
                                            <span class="error" ng-show="myForm.phone.$error.pattern"> <i
                                                    class="fa fa-exclamation-circle"></i>Số điện thoại sai đinh dạng</span>
                                    </span>
                        </label>
                    </div>
                </div>
                <!--        ===============-->
                <div class="grid gap-6 mb- md:grid-cols-2">
                    <div class="grid gap-6 mb-8 md:grid-cols-2" style=" grid-template-columns: 500px 50px;">
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Họ và tên</span>
                            <input ng-model="formAccount.fullName"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    placeholder="Nhập họ và tên"
                            />
                        </label>
                    </div>

                    <div class="grid gap-6 mb-8 md:grid-cols-2" style=" grid-template-columns: 500px 50px;">
                        <label class="block text-sm ">
                            <span class="text-gray-700 dark:text-gray-400">Địa chỉ</span>
                            <input ng-model="formAccount.address"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    placeholder="Nhập Địa chỉ"
                            />
                        </label>
                    </div>
                </div>
                <!--        ===========-->
                <div class="grid gap-6 mb- md:grid-cols-2">
                    <div class="grid gap-6 mb-8 md:grid-cols-2" style=" grid-template-columns: 500px 50px;">
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Email</span>
                            <input ng-model="formAccount.email" type="email" name="email"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
                                   placeholder="Ví dụ: abc@gmail.com" maxlength="250"
                            />
                            <span ng-show="myForm.$submitted || myForm.email.$dirty">
                                        <span class="error" ng-show="myForm.email.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Email không được trống</span>
                                                <span class="error" ng-show="myForm.email.$error.pattern"> <i
                                                        class="fa fa-exclamation-circle"></i>Email sai đinh dạng</span>
                                    </span>
                        </label>
                    </div>

                    <div class="grid gap-6 mb-8 md:grid-cols-2" style=" grid-template-columns: 500px 50px;">
                        <label class="block text-sm ">
                            <span class="text-gray-700 dark:text-gray-400">Chức vụ</span>
                            <select ng-model="formAuth.role"
                                    class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-select focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray">
                                <option ng-repeat="role in roles1" value="{{role.id}}">{{role.name}}</option>
                            </select>
                        </label>
                    </div>
                </div>
                <!--        ============-->
                <div class="grid gap-6 mb- md:grid-cols-2">
                    <div class="grid gap-6 mb-8 md:grid-cols-2" style=" grid-template-columns: 500px 50px;">
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Giới tính</span>
                                <label class="inline-flex items-center text-gray-600 dark:text-gray-400">
                                    <input type="radio"ng-model="formAccount.sex" required checked ng-value="1"
                                           class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                    />
                                    <span class="ml-2">Nam</span>
                                </label>
                                <label class="inline-flex items-center ml-6 text-gray-600 dark:text-gray-400">
                                    <input type="radio"model="formAccount.sex" required ng-value="0"
                                           class="text-purple-600 form-radio focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray"
                                    />
                                    <span class="ml-2">Nữ</span>
                                </label>
                        </label>
                    </div>

                    <div class="grid gap-6 mb-8 md:grid-cols-2" style=" grid-template-columns: 500px 50px;">
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">Mật khẩu</span>
                            <input ng-model="formAccount.password" name="password"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                   required placeholder="Mật khẩu" ng-minlength="3" ng-maxlength="250" maxlength="250" type="password"
                            />
                            <span ng-show="myForm.$submitted || myForm.password.$dirty">
                                        <span class="error" ng-show="myForm.password.$error.required"> <i
                                                class="fa fa-exclamation-circle"></i>Mật khẩu không được trống</span>
                                        <span class="error"
                                              ng-show="((myForm.password.$error.minlength || myForm.password.$error.maxlength) || myForm.fullName.$error.$dirty)">
                                                <i class="fa fa-exclamation-circle"></i>Mật khẩu tối thiểu 3-250 ký tự</span>
                                </span>
                        </label>
                    </div>
                </div>
                <!--        ============-->
                <div class="grid gap-6 mb- md:grid-cols-2">

                    <div class="grid gap-6 mb-8 md:grid-cols-2" style=" grid-template-columns: 500px 50px;">
                        <label class="block text-sm ">
                            <span class="text-gray-700 dark:text-gray-400">Ngày Sinh</span>
                            <input ng-model="formAccount.date" name="creatDate"
                                    class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input"
                                    type="date"
                            />
                            <span ng-show="myForm.$submitted || myForm.creatDate.$dirty">
                                            <span class="error" ng-show="myForm.creatDate.$error.pattern"> <i
                                                    class="fa fa-exclamation-circle"></i>Ngày tạo không được để
                                                trống</span>
                                        </span>
                        </label>
                    </div>
                </div>
                <!--        ============-->
                <div class="grid gap-6 mb-8 md:grid-cols-2">
                    <div class="mt-4 text-sm">
                        <button  ng-click="addAccount()" style="margin-top: 10px; margin-left: 100px;"
                                 class="px-3 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                            Thêm Mới
                        </button>
                        <button  style="margin-top: 10px; margin-left: 65px;"
                                 class="px-3 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple">
                            Làm Mới
                        </button>
                    </div>
                </div>
                <!--        ===============-->
            </div>
            </form>
        </div>
    </main>
</div>