<div xmlns:th="http://wwww.thymeleaf.org">
    <header style="margin-bottom: 0px;">
        <div class="row">
            <h2 class="alert alert-light col-sm-9" style="text-align:center ">
                <img th:src="@{|/images/logo.png|}" style="width: 150px; height: 90px;">
            </h2>
            <div class="col-sm-2">
                <div class="dropdown" style="float:right; margin-top: 50px">
                    <button class="dropbtn">Xin chào,...</button>
                    <div class="dropdown-content" style="color: #c6c8ca">
                        <a href="#">Tài Khoản</a>
                        <a href="#">Đăng Xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

