<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en" xmlns:th="http://wwww.thymeleaf.org"
      th:fragment="dynamic(main)">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../css/tailwind.output.css"/>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script src="../js/init-alpine.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"></script>
    <script type="text/javascript">
    </script>
        <style>
            dialog {
                width: 900px;
                padding: 0px;
                border: 1px solid #ccc;
                border-radius: 1px;
            }
    
        </style>
</head>
<body ng-app="myApp">
<div class="row" ng-controller="ProductController">
    <div class="flex h-screen bg-gray-50 dark:bg-gray-900" :class="{ 'overflow-hidden': isSideMenuOpen}">

        <aside class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0">
            <div class="py-4 text-gray-500 dark:text-gray-400">
                <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="/">
                    PLACE UP
                </a>
                <ul class="mt-6">
                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                           href="/">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path
                                        d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                                </path>
                            </svg>
                            <span class="ml-4">Trang Chủ</span>
                        </a>
                    </li>
                </ul>
                <ul>
<!--                    <li class="relative px-6 py-3">-->
<!--            <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"-->
<!--                  aria-hidden="true"></span>-->
<!--                        <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200 dark:text-gray-100"-->
<!--                           href="/admin/product">-->
<!--                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round"-->
<!--                                 stroke-linejoin="round"-->
<!--                                 stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                <path-->
<!--                                        d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01">-->
<!--                                </path>-->
<!--                            </svg>-->
<!--                            <span class="ml-4">Sản Phẩm</span>-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li class="relative px-6 py-3">-->
<!--                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"-->
<!--                           href="/admin/productdetail">-->
<!--                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round"-->
<!--                                 stroke-linejoin="round"-->
<!--                                 stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">-->
<!--                                <path-->
<!--                                        d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10">-->
<!--                                </path>-->
<!--                            </svg>-->
<!--                            <span class="ml-4">Sản Phẩm Chi Tiết</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="relative px-6 py-3">
                        <button
                                class="inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                                @click="togglePagesMenu1" aria-haspopup="true">
              <span class="inline-flex items-center">
                <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
                     stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path
                          d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z">
                  </path>
                </svg>
                <span class="ml-4">Sản Phẩm</span>
              </span>
                            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <template x-if="isPagesMenuOpen1">
                            <ul x-transition:enter="transition-all ease-in-out duration-300"
                                x-transition:enter-start="opacity-25 max-h-0"
                                x-transition:enter-end="opacity-100 max-h-xl"
                                x-transition:leave="transition-all ease-in-out duration-300"
                                x-transition:leave-start="opacity-100 max-h-xl"
                                x-transition:leave-end="opacity-0 max-h-0"
                                class="p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium text-gray-500 rounded-md shadow-inner bg-gray-50 dark:text-gray-400 dark:bg-gray-900"
                                aria-label="submenu">
                                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                                    <a class="w-full" href="/admin/createProduct">
                                        Thêm Mới
                                    </a>
                                </li>
                                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                                    <a class="w-full" href="/admin/ListProduct">
                                        Danh Sách
                                    </a>
                                </li>
                            </ul>
                        </template>
                    </li>
                    <li class="relative px-6 py-3">
                        <button
                                class="inline-flex items-center justify-between w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                                @click="togglePagesMenu" aria-haspopup="true">
              <span class="inline-flex items-center">
                <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round" stroke-linejoin="round"
                     stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                  <path
                          d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z">
                  </path>
                </svg>
                <span class="ml-4">Thể Loại</span>
              </span>
                            <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                                <path fill-rule="evenodd"
                                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                        <template x-if="isPagesMenuOpen">
                            <ul x-transition:enter="transition-all ease-in-out duration-300"
                                x-transition:enter-start="opacity-25 max-h-0"
                                x-transition:enter-end="opacity-100 max-h-xl"
                                x-transition:leave="transition-all ease-in-out duration-300"
                                x-transition:leave-start="opacity-100 max-h-xl"
                                x-transition:leave-end="opacity-0 max-h-0"
                                class="p-2 mt-2 space-y-2 overflow-hidden text-sm font-medium text-gray-500 rounded-md shadow-inner bg-gray-50 dark:text-gray-400 dark:bg-gray-900"
                                aria-label="submenu">
                                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                                    <a class="w-full" href="/admin/designs">Kiểu Dáng</a>
                                </li>
                                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                                    <a class="w-full" href="/admin/color">
                                        Màu Sắc
                                    </a>
                                </li>
                                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                                    <a class="w-full" href="/admin/material">
                                        Chất Liệu
                                    </a>
                                </li>
                                <li class="px-2 py-1 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200">
                                    <a class="w-full" href="/admin/size">
                                       Size
                                    </a>
                                </li>
                            </ul>
                        </template>
                    </li>
                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                           href="charts.html">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
                                <path d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path>
                            </svg>
                            <span class="ml-4">Tài Khoản</span>
                        </a>
                    </li>
                    <li class="relative px-6 py-3">
                        <a class="inline-flex items-center w-full text-sm font-semibold transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                           href="buttons.html">
                            <svg class="w-5 h-5" aria-hidden="true" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                <path
                                        d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122">
                                </path>
                            </svg>
                            <span class="ml-4">Thống Kê</span>
                        </a>
                    </li>
                </ul>

            </div>
        </aside>
        <div class="flex flex-col flex-1">
            <header class="z-10 py-4 bg-white shadow-md dark:bg-gray-800">
                <div
                        class="container flex items-center justify-between h-full px-6 mx-auto text-purple-600 dark:text-purple-300">
                    <div class="flex justify-center flex-1 lg:mr-32">
                    </div>
                    <ul class="flex items-center flex-shrink-0 space-x-6">
                        <!-- Theme toggler -->
                        <!-- Profile menu -->
                        <li class="relative">
                            <button class="align-middle rounded-full focus:shadow-outline-purple focus:outline-none"
                                    @click="toggleProfileMenu" @keydown.escape="closeProfileMenu" aria-label="Account"
                                    aria-haspopup="true">
                                <img class="object-cover w-8 h-8 rounded-full"
                                     src="https://images.unsplash.com/photo-1502378735452-bc7d86632805?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=aa3a807e1bbdfd4364d1f449eaa96d82"
                                     alt="" aria-hidden="true"/>
                            </button>
                            <template x-if="isProfileMenuOpen">
                                <ul x-transition:leave="transition ease-in duration-150"
                                    x-transition:leave-start="opacity-100"
                                    x-transition:leave-end="opacity-0" @click.away="closeProfileMenu"
                                    @keydown.escape="closeProfileMenu"
                                    class="absolute right-0 w-56 p-2 mt-2 space-y-2 text-gray-600 bg-white border border-gray-100 rounded-md shadow-md dark:border-gray-700 dark:text-gray-300 dark:bg-gray-700"
                                    aria-label="submenu">
                                    <li class="flex">
                                        <a class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                                           href="#">
                                            <svg class="w-4 h-4 mr-3" aria-hidden="true" fill="none"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
                                            </svg>
                                            <span>Profile</span>
                                        </a>
                                    </li>
                                    <li class="flex">
                                        <a class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                                           href="#">
                                            <svg class="w-4 h-4 mr-3" aria-hidden="true" fill="none"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path
                                                        d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
                                                </path>
                                                <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                            </svg>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li class="flex">
                                        <a class="inline-flex items-center w-full px-2 py-1 text-sm font-semibold transition-colors duration-150 rounded-md hover:bg-gray-100 hover:text-gray-800 dark:hover:bg-gray-800 dark:hover:text-gray-200"
                                           href="#">
                                            <svg class="w-4 h-4 mr-3" aria-hidden="true" fill="none"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                                 stroke="currentColor">
                                                <path
                                                        d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1">
                                                </path>
                                            </svg>
                                            <span>Log out</span>
                                        </a>
                                    </li>
                                </ul>
                            </template>
                        </li>
                    </ul>

                </div>
            </header>
            <div th:replace="${main}"></div>
        </div>
    </div>
</div>
<script src="Product/product-ctrl.js"></script>
<script>
    angular.module('myApp', [])
        .controller('ProductController', function ($scope, $http) {
            const apiUrlProduct = "http://localhost:8080/api/product";
            const apiUrlColor = "http://localhost:8080/api/color";
            const apiUrl = "http://localhost:8080/api/material";
            const apiUrlDesign = "http://localhost:8080/api/design";
            const apiUrlImage = "http://localhost:8080/api/image";
            const apiUrlSize = "http://localhost:8080/api/size";
            const apiUrlProductDetail = "http://localhost:8080/api/productDetail";


            console.log(apiUrl);

            $scope.products = [];
            $scope.formProduct = {};
            $scope.colors = [];
            $scope.formColor = {};
            $scope.materials = [];
            $scope.formMaterial = {};
            $scope.designs = [];
            $scope.formDesign = {};
            $scope.sizes = [];
            $scope.formSize = {};
            $scope.productDetails = [];
            $scope.formProductDetail = {};

            // Lấy danh sách sản phẩm
            $scope.getProducts = function () {
                $http.get(apiUrlProduct)
                    .then(function (response) {
                        $scope.products = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.previewImage = function () {
                var input = document.getElementById('image');
                if (input.files && input.files.length > 0) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $scope.imagePreview = e.target.result;
                        $scope.$apply(); // Cập nhật lại scope để hiển thị hình ảnh
                    };
                    $scope.formProduct.image = []; // Xóa các hình ảnh hiện có trong danh sách
                    for (var i = 0; i < input.files.length; i++) {
                        var file = input.files[i];
                        var reader1 = new FileReader();
                        reader1.onload = (function (file) {
                            return function (e) {
                                $scope.formProduct.image.push(e.target.result);
                                $scope.$apply(); // Cập nhật lại scope để hiển thị hình ảnh
                            };
                        })(file);
                        reader1.readAsDataURL(file);
                        console.log("Tên tệp tin:", file.name);
                    }
                } else {
                    $scope.imagePreview = ""; // Đặt giá trị rỗng nếu không có tệp tin được chọn
                    $scope.formProduct.url_image = []; // Đặt danh sách hình ảnh thành rỗng
                }
            };
            // Thêm sản phẩm mới
            $scope.addProduct = function () {
                // Lấy tên tệp tin từ đường dẫn
                var input = document.getElementById('image');
                if (input.files && input.files[0]) {
                    $scope.formProduct.image = input.files[0].name;
                }

                $http.post(apiUrlProduct, $scope.formProduct)
                    .then(function (response) {
                        $scope.products.push(response.data);
                        $scope.formProduct = {};
                        $scope.resetProducts();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.editProduct = function (product) {
                $scope.formProduct = angular.copy(product);
            }
            // Cập nhật thông tin sản phẩm
            $scope.updateProduct = function (product) {
                $http.put(apiUrlProduct + '/' + product.id, product)
                    .then(function (response) {
                        // Cập nhật thông tin sản phẩm trong danh sách
                        var index = $scope.products.findIndex(p => p.id === product.id);
                        if (index !== -1) {
                            $scope.products[index] = response.data;
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            // Xóa sản phẩm
            $scope.deleteProduct = function (product) {
                $http.delete(apiUrlProduct + '/' + product.id)
                    .then(function (response) {
                        // Xóa sản phẩm khỏi danh sách
                        var index = $scope.products.findIndex(p => p.id === product.id);
                        if (index !== -1) {
                            $scope.products.splice(index, 1);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.resetProducts = function () {
                $scope.formProduct = {
                    status: 1
                }
            }
            console.log(apiUrlProduct);

            $scope.getColors = function () {
                $http.get(apiUrlColor)
                    .then(function (response) {
                        $scope.colors = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.addColor = function () {
                $http.post(apiUrlColor, $scope.formColor)
                    .then(function (response) {
                        $scope.colors.push(response.data);
                        $scope.formColor = {};
                        $scope.resetColor();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };

            $scope.editColor = function (color) {
                $scope.formColor = angular.copy(color);
            }
            $scope.updateColor = function () {
                var item = angular.copy($scope.formColor);
                $http.put(apiUrlColor + '/' + item.id, item).then(resp => {
                    var index = $scope.colors.findIndex(p => p.id == item.id);
                    $scope.colors[index] = item;
                    alert("Cập nhật thành công");
                    $scope.resetColor();
                }).catch(error => {
                    alert("Cập nhật thất bại");
                    console.log("Error", error);
                });
            }
            $scope.deleteColor = function (color) {
                $http.delete(apiUrlColor + '/' + color.id)
                    .then(function (response) {
                        var index = $scope.colors.findIndex(p => p.id === color.id);
                        if (index !== -1) {
                            $scope.colors.splice(index, 1);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };

            console.log(apiUrlProduct);

            $scope.resetColor = function () {
                $scope.formColor = {
                    status: 1
                }
            }
            $scope.pagerColor = {
                page: 0,
                size: 5,
                get colors() {
                    var start = this.page * this.size;
                    return $scope.colors.slice(start, start + this.size);
                },
                get count() {
                        return Math.ceil(1.0 * $scope.colors.length / this.size);

                },
                first() {
                    this.page = 0;
                },
                prev() {
                    this.page--;
                    if (this.page < 0) {
                        this.first();
                        alert("Bạn đang ở trang đầu")
                    }
                },
                next() {
                    this.page++;
                    if (this.page >= this.count) {
                        this.last();
                        alert("Bạn đang ở trang cuối")
                    }
                },
                last() {
                    this.page = this.count - 1;
                }
            }
            $scope.pagerDesign= {
                page: 0,
                size: 5,
                get designs() {
                    var start = this.page * this.size;
                    return $scope.designs.slice(start, start + this.size);

                },
                get count() {
                    return Math.ceil(1.0 * $scope.designs.length / this.size);

                },
                first() {
                    this.page = 0;
                },
                prev() {
                    this.page--;
                    if (this.page < 0) {
                        this.first();
                        alert("Bạn đang ở trang đầu")
                    }
                },
                next() {
                    this.page++;
                    if (this.page >= this.count) {
                        this.last();
                        alert("Bạn đang ở trang cuối")
                    }
                },
                last() {
                    this.page = this.count - 1;
                }
            }

            $scope.pagerMaterial= {
                page: 0,
                size: 5,
                get materials() {
                    var start = this.page * this.size;
                    return $scope.materials.slice(start, start + this.size)
                    },
                    get count() {
                        return Math.ceil(1.0 * $scope.materials.length / this.size);
                },
                first() {
                    this.page = 0;
                },
                prev() {
                    this.page--;
                    if (this.page < 0) {
                        this.first();
                        alert("Bạn đang ở trang đầu")
                    }
                },
                next() {
                    this.page++;
                    if (this.page >= this.count) {
                        this.last();
                        alert("Bạn đang ở trang cuối")
                    }
                },
                last() {
                    this.page = this.count - 1;
                }
            }
            $scope.pagerProduct= {
                page: 0,
                size: 5,
                get products() {
                    var start = this.page * this.size;
                    return $scope.products.slice(start, start + this.size);

                },
                get count() {
                    return Math.ceil(1.0 * $scope.products.length / this.size);
                    return $scope.materials.slice(start, start + this.size);

                },
                get count() {
                    return Math.ceil(1.0 * $scope.materials.length / this.size);

                },
                first() {
                    this.page = 0;
                },
                prev() {
                    this.page--;
                    if (this.page < 0) {
                        this.first();
                        alert("Bạn đang ở trang đầu")
                    }
                },
                next() {
                    this.page++;
                    if (this.page >= this.count) {
                        this.last();
                        alert("Bạn đang ở trang cuối")
                    }
                },
                last() {
                    this.page = this.count - 1;
                }
            }

            $scope.getMaterials = function () {
                $http.get(apiUrl)
                    .then(function (response) {
                        $scope.materials = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.addMaterial = function () {
                $http.post(apiUrl, $scope.formMaterial)
                    .then(function (response) {
                        $scope.materials.push(response.data);
                        $scope.formMaterial = {};
                        $scope.resetMaterial();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.editMaterial = function (material) {
                $scope.formMaterial = angular.copy(material);
            }
            $scope.updateMaterial = function () {
                var item = angular.copy($scope.formMaterial);
                $http.put(apiUrl + '/' + item.id, item).then(resp => {
                    var index = $scope.materials.findIndex(p => p.id == item.id);
                    $scope.materials[index] = item;
                    alert("Cập nhật thành công");
                    $scope.resetMaterial();
                }).catch(error => {
                    alert("Cập nhật thất bại");
                    console.log("Error", error);
                });
            }
            $scope.deleteMaterial = function (material) {
                $http.delete(apiUrl + '/' + material.id)
                    .then(function (response) {
                        var index = $scope.materials.findIndex(p => p.id === material.id);
                        if (index !== -1) {
                            $scope.materials.splice(index, 1);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.resetMaterial = function () {
                $scope.formMaterial = {
                    status: 1
                }
            }
            $scope.getDesign = function () {
                $http.get(apiUrlDesign)
                    .then(function (response) {
                        $scope.designs = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.addDesign = function () {
                $http.post(apiUrlDesign, $scope.formDesign)
                    .then(function (response) {
                        $scope.designs.push(response.data);
                        $scope.formDesign = {};
                        $scope.resetDesign();
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.editDesign = function (design) {
                $scope.formDesign = angular.copy(design);
            }
            $scope.updateDesign = function () {
                var item = angular.copy($scope.formDesign);
                $http.put(apiUrlDesign + '/' + item.id, item).then(resp => {
                    var index = $scope.designs.findIndex(p => p.id == item.id);
                    $scope.designs[index] = item;
                    alert("Cập nhật thành công");
                    $scope.resetDesign();
                }).catch(error => {
                    alert("Cập nhật thất bại");
                    console.log("Error", error);
                });
            }
            $scope.deleteDesign = function (design) {
                $http.delete(apiUrlDesign + '/' + design.id)
                    .then(function (response) {
                        var index = $scope.designs.findIndex(p => p.id === design.id);
                        if (index !== -1) {
                            $scope.designs.splice(index, 1);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.resetDesign = function () {
                $scope.formDesign = {
                    status: 1
                }
            }

            $scope.onSaveProductDetail = function (){
                var formData = new FormData();
                formData.append('status', $scope.formProductDetail.status = 1)
                formData.append('design', $scope.formProductDetail.design)
                formData.append('color', $scope.formProductDetail.color)
                formData.append('size', $scope.formProductDetail.size)
                formData.append('material', $scope.formProductDetail.material)
                formData.append('product', $scope.formProductDetail.productDetails)
                console.log($scope.formProduct.productDetails)

                let req = {
                    method: 'POST',
                    url: apiUrlProductDetail + '/saveProduct',
                    headers: {
                        'Content-Type': undefined,
                    },
                    data: formData
                }
                $http(req).then(response => {
                    console.log("ddd " + response);
                    $scope.message("thêm mới sản phẩm thành công");
                    $scope.getresetSe();
                    $scope.getProductDetails();
                }).catch(error => {
                    $scope.error('thêm mới thất bại');
                });
            };




            $scope.getProductDetails = function () {
                $http.get(apiUrlProductDetail)
                    .then(function (response) {
                        $scope.productDetails = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.getProductDetailsColor = function () {
                if ($scope.searchColor === 'null' && $scope.searchDesigns === 'null' && $scope.searchMaterial === 'null'
                    && $scope.searchSize === 'null' && $scope.searchProduct === 'null') {
                    $scope.getProductDetails();
                } else {
                    $http.get(apiUrlProductDetail + '/' +
                        $scope.searchColor + '/' + $scope.searchDesigns + '/' + $scope.searchMaterial + '/' + $scope.searchSize + '/' + $scope.searchProduct)
                        .then(function (response) {
                            $scope.productDetails = response.data;
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }
                ;
            };
            $scope.searchProduct=function(){

                if ($scope.searchPriceMin===""){
                    $scope.searchPriceMin="Min"
                    // alert( $scope.searchPriceMin+"abcc")
                }
                if ($scope.searchPriceMax===""){
                    $scope.searchPriceMax="Max"
                    // alert( $scope.searchPriceMax+"abcc")
                }
                if ($scope.searchColor === 'undefined' && $scope.searchDesign === 'undefined' && $scope.searchMaterial === 'undefined'
                    && $scope.searchSize === 'undefined' && $scope.searchPriceMin === ""&& $scope.searchPriceMax === ""&& $scope.searchProducts === 'undefined'
                ) {
                    $scope.getProducts();
                } else {
                    // alert($scope.searchStatus)
                    // alert($scope.searchPriceMin)
                    // alert($scope.searchPriceMax)
                    $http.get(apiUrlProduct+'/search' + '/' +$scope.searchProducts + '/' + $scope.searchColor + '/' + $scope.searchMaterial + '/' + $scope.searchSize + '/' + $scope.searchDesign+'/'+$scope.searchPriceMin+'/'+$scope.searchPriceMax+'/'+$scope.searchStatus)
                        .then(function (response) {
                            $scope.products = response.data;
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }
            };
            $scope.pagerProducts= {
                page: 0,
                size: 5,
                get products() {
                    var start = this.page * this.size;
                    return $scope.products.slice(start, start + this.size);

                },
                get count() {
                    return Math.ceil(1.0 * $scope.products.length / this.size);
                    return $scope.products.slice(start, start + this.size);

                },
                get count() {
                    return Math.ceil(1.0 * $scope.products.length / this.size);

                },
                first() {
                    this.page = 0;
                },
                prev() {
                    this.page--;
                    if (this.page < 0) {
                        this.first();
                        alert("Bạn đang ở trang đầu")
                    }
                },
                next() {
                    this.page++;
                    if (this.page >= this.count) {
                        this.last();
                        alert("Bạn đang ở trang cuối")
                    }
                },
                last() {
                    this.page = this.count - 1;
                }
            }


            $scope.getresetSe = function () {
                $('#matesearch').prop('selectedIndex', 0);
                $('#colorSearch').prop('selectedIndex', 0);
                $('#designSearch').prop('selectedIndex', 0);
                $('#productSearch').prop('selectedIndex', 0);
                $('#sizeSearch').prop('selectedIndex', 0);
                $('#size').prop('selectedIndex', 0);
                $('#material').prop('selectedIndex', 0);
                $('#color').prop('selectedIndex', 0);
                $('#design').prop('selectedIndex', 0);
                $('#product').prop('selectedIndex', 0);
                $scope.getProductDetails();
            }
            $scope.startOption = function () {
                $('#matesearch').prop('selectedIndex', 2);
                $('#colorSearch').prop('selectedIndex', 2);
                $('#designSearch').prop('selectedIndex', 2);
                $('#productSearch').prop('selectedIndex', 2);
                $('#sizeSearch').prop('selectedIndex', 2);
            }
            $scope.startOption();
            $scope.getSize = function () {
                $http.get(apiUrlSize)
                    .then(function (response) {
                        $scope.sizes = response.data;
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            };
            $scope.getSize();
            $scope.getDesign();
            // $scope.getProducts();
            $scope.getMaterials();
            $scope.getColors();
            $scope.getProductDetails();


        });
</script>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.js-select2').select2();
    });
    function openCreateDesign(){
        document.getElementById("createDesign").showModal();
    }

    function closeCreateDesign() {
        document.getElementById("createDesign").close();
    }
    function openCreateColor() {
        document.getElementById("createColor").showModal();
    }

    function closeCreateColor() {
        document.getElementById("createColor").close();
    }
    function openCreateMaterial() {
        document.getElementById("createMaterial").showModal();
    }

    function closeCreateMaterial() {
        document.getElementById("createMaterial").close();
    }
    function openCreateSize() {
        document.getElementById("createSize").showModal();
    }

    function closeCreateSize() {
        document.getElementById("createSize").close();
    }
</script>


</body>
</html>