<div xmlns:th="http://wwww.thymeleaf.org" th:replace="~{/admin/main :: dynamic(~{::main})}">
    <div class="row">
        <aside class="col-sm-12" style="font-variant: small-caps;">
            <main class="row">
                <div class="row">
                    <div style="margin-left: 390px; margin-bottom: 40px">
                        <h2>Sản Phẩm</h2></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div>Tên</div>
                                <input class="form-control"type="text" id="name" ng-model="formProduct.name">
                            </div>
                            <div class="form-group col-sm-6">
                                <div>Giá</div>
                                <input class="form-control" type="number" id="price" ng-model="formProduct.price">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div>Trạng thái</div>
                                <div class="form-control">
                                    <label class="radio-inline">
                                        <input ng-model="formProduct.status" type="radio" ng-value="1" name="available">Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input ng-model="formProduct.status" type="radio" ng-value="0" name="available">No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <div>Hình ảnh :</div>
                                <input type="file" class="form-control" id="image" ng-model="formProduct.url_image"  ng-change="previewImage()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <div>Miêu tả</div>
                                <textarea style=resize:none; rows="5" class="form-control" id="description" ng-model="formProduct.description"></textarea>
                            </div>
                            <div class="form-group col-sm-6" style="margin-top: 95px">
                                <button style="margin-left: 30px" type="button" class="btn btn-success " ng-click="addProduct()">Create</button>
                                <button style="margin-left: 80px" type="button" class="btn btn-primary ">Update</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <label for="image" type="image">
                            <img ng-src="/images/{{imagePreview}}" style="width:304px;height:270px;">
                        </label>
                    </div>
                </div>
            </main>
        </aside>
    </div>
    <div class="row">
        <aside class="col-sm-12" style="font-variant: small-caps;">
            <main class="row">
                <div class="tab-content">
                    <div id="list" class="tab-pane fade in active">
                        <div th:include="'/admin/Product/listProduct.html'"></div>
                    </div>
                </div>
            </main>
        </aside>
    </div>
</div>